<% if (theme.socialLink.email) { %>
    <a href="mailto:SkyLime2580@outlook.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top" data-delay="50">
        <i class="fas fa-envelope-open"></i>
    </a>
<% } %>